*{
    margin : 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

.header-ind__container{
    background-color: rgb(122, 122, 122);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "logo redes carrito";
}

.imgLogoHeader{
    width: auto;
    height: auto;
    grid-area: logo;
}

.listaCarritoDelHeader{
    grid-area: carrito;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
    color: white;
}

.carritoJavaScript{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: black;
}

#offcanvasTopLabel{
    color: black;
    font-weight: bolder;
}

.listaRedesDelHeader{
    grid-area: redes;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hrefRedes{
    
    list-style: none;
}


.listaPantalones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    justify-items: center ;
}

.listaRemeras{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.listaZapatillas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.tituloProductos{
    font-weight: bolder;
    text-align: center;
}

.itemPrendas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;

}

.imagenDelJson{
    width: 200px;
    height: 300px;
    align-self: center;
}

.botonCompraPrenda{
    height: 40px;
    width: 170px;
}

.selectTallePrenda{
    height: 40px;
    width: 40px;
}

h3{
    font-weight: bolder;
}

.parrafoDelModal{
    color: black;
}

.modal-title{
    color: black;
    font-weight: bolder;
}

.divNoEscogioTalle{
    display: none;
}

.cart-counter{
    display:inline;
    width:20px;
    height:20px;
    background:rgb(255, 255, 255);
    border-radius:50%;
    vertical-align: left;
    opacity: 0.5;
    padding: 0px 5px;
    color: black;
    }

#paymentForm{
    margin: 10%;
    padding: auto;
}

#iconCheckNombre , #iconExclamationNombre, #iconCheckApellido, #iconExclamationApellido ,#iconCheckDireccion, #iconExclamationDireccion, #iconCheckProvincia, #iconExclamationProvincia, #iconCheckLocalidad, #iconExclamationLocalidad, #iconCheckZip, #iconExclamationZip, #iconCheckMail, #iconExclamationMail, #iconCheckTarjetaNumeros, #iconExclamationTarjetaNumeros, #iconCheckTarjetaVencimiento, #iconExclamationTarjetaVencimiento{
    display: none;
}

#listaShoppingCart{
    display: flex;
    flex-direction: row;
}

#listaShoppingCartPayment{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 3%;
}

.pDelCarrito{
    color: black;
}

.listaDelCarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.imgDelCarrito{
    height: 100px;
    width: 85px;

}

.offcanvas{
    height: 100%;
}

#offcanvasTop{
    height: 50%;
}

#bodyCarrito{
    height: 100%;
}

#divCarrito{
    height: 100%;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 100%;
    grid-template-areas: "mati . redes";
    background-color: rgb(170, 170, 170);
    justify-content: center;
    align-items: center;
}

.parrafoFooter{
    grid-area: mati;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
}

.redesFooter{
    grid-area: redes;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin: 0%;
}

#tituloDelCarritoPayment{
    text-align: center;
    margin: 1%;
    padding: auto;
}

#divDelValorTotalCarritoPayment{
    text-align: center;
    font-weight: bolder;
}

#jeanIndigo00, #chinoBeige00, #remeraRayada00, #remeraBasica00, #zapatillas00B, #zapatillas00D{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 3%;
}

#jeanIndigo00:hover, #chinoBeige00:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}